*{
    margin: 0;
    height: 100%;
}

body { 
    width: 100%;
    background-color: rgba(164, 219, 255, 0.322);
}

.header-img {
    background-image: url(./page_images/banner-6.jpg);
    background-color: rgb(173, 173, 173);
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
    
}

.inner-header {
    text-align: center;
    position:absolute;
    width: 100%;
    color: rgb(0, 0, 0);
    height: auto;
    margin-top: 30px;
    font-family: 'Poiret One', 'cursive'; 
    font-size: 18pt;
    
}



.img-profile {
    border-radius: 50%;
    height: 300px;
    width: 300px;
  }
.main-body {
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 200px;
   
}