*{
    margin: 0;
    height: 100%;
}

body { 
    width: 100%;
    background-color: rgba(187, 172, 144, 0.418);
}

.header-img {
    background-image: url(./page_images/banner-2.jpg);
    background-color: blueviolet;
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.inner-header {
    text-align: center;
    position: absolute;
    width: 100%;
    color: rgb(0, 255, 128);
    height: auto;
    margin-top: 200px;
    background-color: blue;

}

@media only screen and (max-width: 920px){
    .inner-header{
    margin-top: 540px;
    } 
}
